In [8]:
fruits = ["orange","kiwi","banana"]
for f in fruits:
    print(f)

orange
kiwi
banana

In [15]:
for car in ['bmw','ford','benz','gmc']:
    print(car, end=' ')

bmw ford benz gmc

In [16]:
mylist = [1,2,3,4]
for num in mylist:
    print(num**2)

1
4
9
16

In [23]:
for num in mylist:
    if num== 4:
        break
    print(num**2)

1
4
9

In [17]:
for num in mylist:
    print('i can print anything here')

i can print anything here
i can print anything here
i can print anything here
i can print anything here

In [18]:
for character in 'this is a string':
    print(character)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [25]:
thistuple =['apple','banana','cherry','apple','cherry']
print(thistuple)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [33]:
thistuple =['apple','banana','cherry']
if 'orange' in thistuple:
 print ("yes,'apple' is in the fruit tuple")
else : print('hash')

hash

# 1

## 2

### 3

#### 4

##### 5

###### 6

### getting input from the user

In [37]:
name = input ("what is your name")
print ("hello, " + name + " ")

hello, my name is Salihu

In [49]:
name = input ("what is your name")
age = int (input("how old are you"))
year = 2024-age
print(name,"is", age, 'was born in', year)

salihu is 8 was born in 2016

In [50]:
a = int(input('guess a number'))

if a == 1:
    print("correct guess")
else:
    print("incorrect guess")

incorrect guess

In [6]:
food = {'fruits':'orange',
        'drinks': ['chivita','yoghurt','milkshake'],
        'cereal': 'granola',
         'cereal': 'golden morn' }
food ['cereal']

'golden morn'

In [7]:
food ['drinks']

['chivita', 'yoghurt', 'milkshake']

In [8]:
food['drinks'][2]

'milkshake'

In [9]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [10]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [11]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'banana', True, 2, 'apple', 'cherry'}

In [12]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [22]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set2,set3,set1)

{1, 3, 5, 7, 9} {False, True} {'banana', 'apple', 'cherry'}

In [24]:
set1 = {"abc", 34, True, 40, "male"}
print(type(set1))

<class 'set'>

In [23]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [27]:
thistuple = ("apple", "banana","banana", "cherry")
print(thistuple)

('apple', 'banana', 'banana', 'cherry')

In [28]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [29]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [30]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [31]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [35]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [5]:
food = {'fruits': ['orange','kiwi','strawberry'], 'drinks': ('mango_juice','apple_juice','orange_juice'), 
        'cereal': {'new_cereal':['cornflakes','golden_morn'],'new_drinks':['coke','fanta','bloody_mary']}}
food

{'fruits': ['orange', 'kiwi', 'strawberry'],
 'drinks': ('mango_juice', 'apple_juice', 'orange_juice'),
 'cereal': {'new_cereal': ['cornflakes', 'golden_morn'],
  'new_drinks': ['coke', 'fanta', 'bloody_mary']}}

In [6]:
food['cereal']

{'new_cereal': ['cornflakes', 'golden_morn'],
 'new_drinks': ['coke', 'fanta', 'bloody_mary']}

In [11]:
food['cereal']['new_drinks'][0]

'coke'

In [14]:
food['cereal']['new_drinks'][2] = 'ice_cream'

In [15]:
food

{'fruits': ['orange', 'kiwi', 'strawberry'],
 'drinks': ('mango_juice', 'apple_juice', 'orange_juice'),
 'cereal': {'new_cereal': ['cornflakes', 'golden_morn'],
  'new_drinks': ['coke', 'fanta', 'ice_cream']}}

In [16]:
food['cereal']['new_cereal'][1]

'golden_morn'

In [18]:
p_info = {'sex': 'male',  
          'height': 173, 
          'weight': 65,
          'numbers': [1,2,3,4], 
          'Fruits':{'citrus': ['lemon','lime','orange',{'orange-type':['foreign','local']}]}}

In [22]:
p_info['Fruits']['citrus'][3]['orange-type'][1]='international'

In [23]:
p_info

{'sex': 'male',
 'height': 173,
 'weight': 65,
 'numbers': [1, 2, 3, 4],
 'Fruits': {'citrus': ['lemon',
   'lime',
   'orange',
   {'orange-type': ['foreign', 'international']}]}}

In [26]:
food.items()

dict_items([('fruits', ['orange', 'kiwi', 'strawberry']), ('drinks', ('mango_juice', 'apple_juice', 'orange_juice')), ('cereal', {'new_cereal': ['cornflakes', 'golden_morn'], 'new_drinks': ['coke', 'fanta', 'ice_cream']})])

In [37]:
food.keys()

dict_keys(['fruits', 'drinks', 'cereal'])

In [31]:
food['cereal'].keys()

dict_keys(['new_cereal', 'new_drinks'])

In [41]:
food['cereal']

{'new_cereal': ['cornflakes', 'golden_morn'],
 'new_drinks': ['coke', 'fanta', 'ice_cream']}

In [42]:
food.update({'snacks':'coconut_candy'})

In [43]:
print(food)

{'fruits': ['orange', 'kiwi', 'strawberry'], 'drinks': ('mango_juice', 'apple_juice', 'orange_juice'), 'cereal': {'new_cereal': ['cornflakes', 'golden_morn'], 'new_drinks': ['coke', 'fanta', 'ice_cream']}, 'snacks': 'coconut_candy'}

In [44]:
car = {"brand": "ford",
       "model": "mustang",
       "year": 1964
       }
x = car.setdefault("year")

In [45]:
x

1964

In [63]:
car.setdefault('colour')

In [62]:
car

{'brand': 'ford',
 'model': 'mustang',
 'year': 1964,
 'colour': None,
 'mileage': 1234}

In [52]:
car.setdefault('mileage',1234)

1234

In [56]:
car

{'brand': 'ford',
 'model': 'mustang',
 'year': 1964,
 'colour': None,
 'mileage': 1234}

In [67]:
car.pop('brand')

'ford'

In [68]:
car

{'model': 'mustang', 'year': 1964, 'colour': None, 'mileage': 1234}

In [69]:
car.popitem()

('mileage', 1234)

In [70]:
car

{'model': 'mustang', 'year': 1964, 'colour': None}

In [72]:
car.get('model')

'mustang'